html {
    background-color: #ffe9b9;
    /*background-color: #fdecc8;*/
}

input[type="number"] {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield;
}
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        display: none;
    }

.genInput {
    text-align:end;
}

.pageBlock {
    display: flex;
    /*flex-direction:row;*/
    margin: auto;
    max-width: 1500px;
}

.loneBlock {
    display: flex;
    padding: 7px;
    border-radius: 5px;
    border: ridge #8d6e6e;
    /*background-color: white;*/
    background-color: #ffd794;
    margin-bottom: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    max-width:1000px;
    width:100%;
}
.leftMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    width: 320px;
}
.menuBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*border-radius: 10px;*/
    background-color: black;
    width: 300px;
    padding: 10px 0 10px 0;
    margin: 2px 0px 2px 0px;
}
.menuBlockTextHeader {
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin: auto auto 10px 10px;
    align-self: flex-start;
}
.menuBlockText {
    display:flex;
    flex-direction:column;
    /*justify-content:space-between;*/
    color: white;
    font-size:30px;
    margin:auto 10px 10px auto;
    width:240px;
}
.menuRow {
    display: flex;
    justify-content: space-between;
    height:40px;
}
.menuInputBlock {
    display:flex;
}
.menuButton {
    font:20px bold;
    width:100px;
    cursor:pointer;
}
.bigMenuButton {
    font: 20px bold;
    width: 240px;
    cursor: pointer;
}
.menuImputNumber {
    width: 30px;
    height: 38px;
    text-align: center;
    font: 25px bold;
    border: none;
}
.numberControlls {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    background-color: lightgray;
    color: black;
    cursor: pointer;
    user-select:none;
}
#minus.numberControlls {
    padding-bottom: 5px;
    height: 35px;
    font-size: 30px;
}
#plus.numberControlls {
    height: 40px;
    font-size: 30px;
    font-weight: bold;
}

.bigHeader {
    font-size: 1.4rem;
    font-weight: bold;
}
.bigHeaderRow {
    margin-bottom: 10px;
}

.middleHeader {
    font-weight: bold;
    font-size: 1.2rem;
}
.middleHeaderRow {
    margin-bottom: 5px;
}

.minorHeader {
    font-weight: bold;
}
.minorHeaderRow {
    margin-bottom: 2px;
}

.columnBlock {
    display: flex;
    justify-content: space-between;
}
.column {
    display: flex;
    flex-direction: column;
}
.column-half {
    display: flex;
    flex-direction: column;
    width: 49%;
}
.firstOfTwo {
    margin-right: 10px;
    width: 49%;
}
.secondOfTwo {
    width: 49%;
}
.firstOfThree {
    margin-right: 10px;
    width: 32%;
}
.secondOfThree {
    margin-right: 10px;
    width: 32%;
}
.thirdOfThree {
    width: 32%;
}
.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.row-between  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.row-half-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    width:49%;
}
.simpleRowData {
    margin-bottom: 2px;
}



.center {
    display:flex;
    justify-content:center;
    align-items:center;
}
.mapBlock {
    display: none;
    height: 0px;
}
.map {
    background-color: cornsilk;
    display: grid;
}
.mapOld {
    background-color: cornsilk;
    display: grid;
}


































a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
